<div class="container">
  <h1>Lists(movies) to watch</h1>

  <ul>
    <% @lists.each do |i| %>
      <li>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= i.name %>
        <%= link_to i.name, list_path(i) %>
        </div>
      </li>
    <% end %>
  </ul>
  <p><%= link_to "add new list", new_list_path, class: "btn btn-primary"  %></p>
</div>

<%# <div class="cards">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div> %>
